.btn-yellow {
  padding: 15px 20px;
  color: lightyellow;
  font-weight: bold;
}

.btn-yt {
  padding: 15px 20px;
  color: lightyellow;
}

.btn-insta {
  padding: 15px 20px;
  color: lightyellow;
}
